@font-face{
  font-family: 'Manrope';
  src: local('Manrope'), url(../src/fonts/Manrope-Regular.ttf) format('woff');
}

html{
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Manrope';
  background-color: #E5E5E5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
